@import "reset";
@import "mixins";
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic);

* {
  box-sizing: border-box;
}

body {
  font-size: $font-size;
  font-family: 'PT Serif', serif;
  font-weight: normal;
  line-height: 1.2em;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}
.wrapper {
  overflow: hidden;
}
.section {
  //margin-bottom: 10vh;
  &:last-child {
    //margin-bottom: 0;
  }
}
@media screen and (min-width: $breakpoint-md) {
  .container {
    padding: 0 40px;
  }
}